{% extends 'base.html.twig' %}

{% block title %}New TrainSchedule{% endblock %}

{% block body %}
    <h1>Create new TrainSchedule</h1>

    {{ include('train_schedule/_form.html.twig') }}

    <a href="{{ path('train_schedule_index') }}">back to list</a>
{% endblock %}
