{% extends 'base.html.twig' %}

{% block title %}Edit Driver{% endblock %}

 {% block stylesheets %}
     {{ parent()  }}
     <link rel="stylesheet" href="{{ asset('css/driverhome.css') }}">
 {% endblock %}

{% block body %}
    {% include 'driver/header.html.twig' %}
    <div class="space"></div>
    <div class="alert alert-dark" role="alert">
        <h4 class="text-center">Edit Profile</h4>
    </div>

    <div class="space2"></div>
    <div class="container ">
        {{ include('driver/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    

{% endblock %}
{% block javascripts %}
    {{ parent()  }}
{% endblock %}
