{% extends 'base.html.twig' %}

{% block title %}New Driver{% endblock %}

{% block body %}
    <h1>Create new Driver</h1>

    {{ include('driver/_form.html.twig') }}

    <a href="{{ path('driver_index') }}">back to list</a>
{% endblock %}
