.space { margin-top: 150px; }

.space2 { margin-top: 50px; }

@media (min-width: 1200px) {
    .custom-container {
        max-width: 300px;
    }
}
.heading {
    color: black;
    font-size: 200%;
    text-align: center;
}
