<html>
    <head>
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>
        <div id="header">
        {% include('customer/header.html.twig') %}
        </div>

        <div id="wrapper">
        {% block content %}{% endblock %}
        </div>

    </body>
</html>