{% extends 'base.html.twig' %}

{% block title %}New Route{% endblock %}

{% block body %}
    <h1>Create new Route</h1>

    {{ include('route/_form.html.twig') }}

    <a href="{{ path('route_index') }}">back to list</a>
{% endblock %}
